*{margin: 0;padding: 0;text-decoration: none;box-sizing: border-box;}
body {
    width: 100%;
    background: #F1F1F1;
}
.form_wrap {
    /*display: flex;*/
    position: fixed;
    left: 50%;
    top: 50px;
    width: 265px;
    border: 1px solid black;
    margin: 0 auto;
    /*justify-content: center;*/
}
form{
    width: 160px;

}

.books_list{
    margin-top: 100px;
    max-width: 800px;
}

.book_block{
    display: flex;
    margin-bottom: 15px;
    background: #fff;
}

.book_block img{
    height: 100px;
    cursor: pointer;
}
.book_avatar_wrap{
    width: 200px;
    display: flex;
    justify-content: center;
    background: #fff;
}
.book_left-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.book_left-section input:hover{
    cursor: pointer;

}
.book_info{
    padding: 0 0 0 10px;
}
.search{
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: -100px;
    height: 80px;
    width: 100vw;
    /*width: 100%;*/
    background: #fff;
    border-bottom: 1px solid #d8dadc;
    /*left: 50%;*/
    /*top: 100px;*/
}
.search_input{
    width: 200px;
    height: 40px;
    margin-left: 100px;
    padding-left: 10px;
    /*border-radius: 5px;*/
    /*border: 1px solid black;*/
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid rgba(196, 198, 199, 1);
}
.search_input:focus{
    width: 500px;
    outline: none;
}
/*.slider{*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/
/*.slider img {*/
/*    height: 400px;*/
/*}*/
.book_left-section img {
    object-fit: cover;
    width: 80px;
    height: 100px;
}
.add_photo{
    position: absolute;
    left: 200px;
}


.slider_wrap{
    position: absolute;
    top: 0;
    left: 300px;
}
.slider{
    position: relative;
    margin-left: 100px;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    font-size: 0;
    display: flex;
    justify-content:center;
    align-items: center;

}
.slider .block_photo img{
    width: 400px;
}
.block_photo{

}
.leftArrow, .rightArrow{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
}
.leftArrow{
    left: -100px;
    transform: translate(0, -50%);

}
.leftArrow img {
    transform: rotate(180deg);
}
.rightArrow {
    right: -100px;
    transform: translate(0, -50%)
}

